@import "../../style.scss";

.share {
  @include themify($themes) {
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;
    background-color: themed("bg");
    color: themed("textColor");
    margin-bottom: 20px;

    .container {
      padding: 20px;
      .top {
        display: flex;
        align-items: center;
        gap: 20px;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }

        input {
          border: none;
          outline: none;
          padding: 20px 10px;
          background-color: transparent;
          width: 60%;
          color: themed("textColor");
        }
      }

      hr {
        margin: 20px 0px;
        border: none;
        height: 0.5px;
        background-color: themed("border");
      }

      .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left {
          display: flex;
          align-items: center;
          gap: 20px;

          .item {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;

            img {
              height: 20px;
            }

            span {
              font-size: 12px;
              color: gray;
            }
          }
        }
        .right {
          button {
            cursor: pointer;
            border: 0;
            border-radius: 15px;
            font-weight: 600;
            margin: 0 10px;
            width: 70px;
            padding: 6px 0;
            box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
            transition: 0.4s;
          }

          .log {
            color: white;
            background-color: #6755e0c0;
            border: 1px solid rgba(104, 85, 224, 1);
          }

          button:hover {
            color: white;
            box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
            background-color: rgba(104, 85, 224, 1);
          }
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .share {
    width: 90vw;
    margin: auto;
  }
  .theme-light .share .container .bottom .left {
    display: block;
  }
}
