.content_post {
  background-color: #222222;
  padding: 20px 30px 20px 20px;
  border-radius: 16px;
}

.posts {
  .time_post {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .delete_edit {
    display: flex;
    justify-content: end;
    button {
      padding: 5px;
      border-radius: 8px;
      background-color: #5648b1;
      color: white;
      border: none;
      font-weight: 500;
      width: 70px;
    }
    button:nth-child(1) {
      margin-right: 10px;
      background-color: #a72e2e;
      border: 1px solid;
      border-radius: 15px;
    }
    button:nth-child(1):hover {
      box-shadow: 0 0 20px rgb(239, 78, 78);
      background-color: red;
    }
    button:nth-child(2) {
      background-color: #5648b1;
      border: 1px solid;
      border-radius: 15px;
    }
    button:nth-child(2):hover {
      box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
      background-color: rgba(104, 85, 224, 1);
    }
  }
  .save_comment button {
    padding: 5px;
    border: 1px solid whitesmoke;
    border-radius: 15px;
    background-color: #5648b1;
    color: white;
    font-weight: 500;
  }
  .save_comment button:hover {
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
    background-color: rgba(104, 85, 224, 1);
  }
  input {
    width: 98%;
    border: none;
    padding-left: 10px;
    color: white;
    outline: none;
    height: 30px;
    margin: 10px 0 10px 0;
    border-radius: 8px;
    background-color: rgb(67, 67, 67);
  }
}
