$themes: (
  light: (
    textColor: #000,
    bg: white,
    logo: darkblue,
    bgSoft: #f6f3f3,
    textColorSoft: #555,
    border: lightgray,
  ),
  dark: (
    textColor: whitesmoke,
    bg: #222,
    logo: white,
    bgSoft: #333,
    textColorSoft: lightgray,
    border: #444,
  ),
);
body {
  background-color: #f6f3f3;
}
@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }

      @content; //The @content directive is used to include the styles that you want to apply within the theme scope.
      $theme-map: null !global; //Finally, the $theme-map is reset to null to clear the global variable.
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 960px) {
    @content;
  }
}

@media screen and (max-width: 480px) {
  .LeftBar_query {
    width: 100%;
    display: block !important;
  }
}
button {
  cursor: pointer;
}

@media screen and (max-width: 280px) {
  .home {
    width: 116vw;
    height: 127vh;
  }
  .theme-dark .navbar {
    width: 116vw;
  }

  .theme-dark .share .container .bottom {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    row-gap: 30px;
  }

  .posts .delete_edit {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .content_post {
    display: grid;
    row-gap: 20px;
  }

  .posts .save_comment {
    display: grid;
  }
}

@media screen and (max-width: 360px) {
  .theme-dark .share .container .bottom {
    display: grid;
    justify-items: center;
    row-gap: 21px;
  }
  .posts .save_comment {
    display: grid;
  }
}
@media screen and (max-width: 412px) {
  .theme-dark .home {
    width: 91vw;
  }
  .theme-dark .navbar {
    width: 91vw;
  }

  .theme-dark .share .container .bottom {
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    row-gap: 30px;
  }
  .posts .save_comment {
    display: grid;
  }
}
